<div class="container" style="margin: 30px auto">
    <h4 style="text-align: center;">Modificar trabajo {{trabajos.id}}</h4>
    
    <form action="/admin/trabajos/modificar" method="post" enctype="multipart/form-data">
    <input type="hidden" value="{{trabajos.id}}" name="id">
    <div class="row mb-3">
        <h6>Título</h6>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Titulo" name="titulo" id="floatingTextarea">
                {{trabajos.titulo}}
            </textarea>
            <label for="floatingTextarea">{{trabajos.titulo}}</label>
        </div>
    </div>
    <h6>Subtítulo</h6>
    <div class="row mb-3">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Subtitulo" name="subtitulo"  id="floatingTextarea">
                {{trabajos.subtitulo}}
            </textarea>
            <label for="floatingTextarea">{{trabajos.subtitulo}}</label>
        </div>
    </div>
    <h6>Cuerpo</h6>
    <div class="row mb-3">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Cuerpo" name="cuerpo" id="floatingTextarea" style="height:400px; padding-top:200px">
                {{trabajos.cuerpo}}
            </textarea>
            <label for="floatingTextarea">{{trabajos.cuerpo}}</label>
        </div>
    </div>
     <div class="row mb-3">
        <div class="form-group">
            <label>Imagen: <input type="file" name="imagen" id="imagen"/></label>
        </div>
        <p>
            <label><input type="checkbox" name="img_delete" id="img_delete" value="1">
            Eliminar imagen actual?</label>
            <input type="hidden" name="img_original" value="{{trabajos.img_id}}">
        </p>
    </div>
    <button type="submit" class="btn btn-primary">Modificar</button>
    </form>
     {{#if error}}
    <p>{{message}}</p>
    {{/if}}
</div>